# .env.local
NEXT_PUBLIC_SUPABASE_URL=https://cnklgxvzpfpfqkgfxoks.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNua2xneHZ6cGZwZnFrZ2Z4b2tzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTYzNTY0MjQsImV4cCI6MjA3MTkzMjQyNH0.ynlcbnF8EcmgyDScZ2GRdYEwm4G6ym1RzqBN1NDw9fo
